body {
    background-color: #ffffff;
    padding: 50px;
    font-size: 62.5%;
    font-family: 'Montserrat',Arial,Helvetica,sans-serif;
}
p{
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a:hover {
    color: black;
}
.top-side {
    margin-bottom: 20px;
}
.top-side h1{
    color: #242424;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 18px 0;
}
.top-side p{
    font-size: 1.2rem;
    margin: 16px 0;
}
.main-side {
    position: relative;
}
.assistances-item {
    border: 2px solid #e8e8e8;
    border-radius: 16px;
    padding: 24px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.assistances-item.read {
    background-color: #f2f6fc;
}
.item-header {
    display: flex;
    justify-content: space-between;
}
a.item-header__left {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
}
a.item-header__left img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
a.item-header__left p {
    font-size: 0.9rem;
}
a.item-title {
    color: #292929;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: 8px;
    padding-right: 32px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.assistances-item p.item-description {
    color: #505050;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-right: 32px;
    display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}
.assistance-item__content {
    display: flex;
    align-items: center;
}
.assistance-item__left {
    flex: 1;
    padding-right: 32px;
}
.new-item__right img {
    border-radius: 15px;
    min-height: 100px;
    object-fit: cover;
    overflow: hidden;
    text-align: center;
    width: 200px;
}
.item-bottom {
    min-height: 30px;
}
.item-bottom a {
    background-color: #f2f2f2;
    border-radius: 100px;
    color: #333;
    font-weight: 500;
    margin-right: 12px;
    padding: 4px 10px;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.item-bottom a span {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 160px;
    height: 1rem;
    line-height: 1rem;
}
.item-bottom span {
    font-size: 1rem;
}

.right-side__title {
    color: #757575;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.8;
    text-transform: uppercase;
}
.right-side__content {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
}
.right-side__content a {
    background-color: #f2f2f2;
    border-radius: 30px;
    color: #333;
    display: block;
    font-weight: 500;
    line-height: 1.8;
    margin: 0 8px 8px 0;
    padding: 6px 16px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    transform: scale(1.3);
    margin-left: 124px;
    width: calc(100% / 1.3);
}
.right-side.scroll {
    position: fixed;
    right: 38px;
    top: 68px;
    width: calc((100% - 76px)/3);
}


/* header */
.back-to-homepage {
    border-bottom: 2px solid #e8ebed;
    padding: 10px 0 0 50px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 10;
}
a.home-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
}
a.home-page img {
    border-radius: 8px;
    flex-shrink: 0;
    height: 38px;
    object-fit: contain;
    width: 38px;
}
a.home-page span {
    color: #808990;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.custom-toast {
    right: 20px;
    top: 60px;
}

/* custome checkbox */
.check-all {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check-all input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -6px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
  /* On mouse-over, add a grey background color */
  .check-all:hover input ~ .checkmark {
    background-color: #ccc;
}
  
  /* When the checkbox is checked, add a blue background */
.check-all input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.check-all input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.check-all .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.blog-control {
    display: flex;
    align-items: center;
    height: 48px;
    gap: 20px;
    padding: 10px 16px;
}
.remove-click, .read-click, .sort-click, .search-wrapper button, .control-item span{
    cursor: pointer;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: white;
}
.remove-click:hover, .read-click:hover, .sort-click:hover, .search-wrapper button:hover, .control-item span:hover{
    background-color: #ccc;
}
.search-wrapper {
    flex: 1;
    display: flex;
    background: #f1f3f4;
    border: 1px solid transparent;
    border-radius: 8px;
    max-width: 720px;
    position: relative;
    transition: background 100ms ease-in,width 100ms ease-out;
    align-items: center;
    height: 48px;
}

.search-wrapper:has(input:focus){
    background: rgba(255,255,255,1);
    border: 1px solid transparent;
    box-shadow: 0 1px 1px 0 rgb(65 69 73 / 30%), 0 1px 3px 1px rgb(65 69 73 / 15%);
}
.search-wrapper button, .search-wrapper input{
    border: none;
    outline: none;
    background-color: transparent;
}
.search-wrapper input{
    flex: 1;
    font-size: 16px;
    padding: 0 6px;
}
.main-item__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.inner-main__item {
    flex:1;
}
.assistances-wrapper {
    min-height: 62vh;
}
.no-thing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding-top: 74px;
    gap: 20px;
}
i.fa-solid.fa-magnifying-glass {
    color: #ccc;
}
div#loading-page {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}