body {
    background-color: #ffffff;
    padding: 50px;
    font-size: 62.5%;
    font-family: 'Montserrat',Arial,Helvetica,sans-serif;
}
p{
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a:hover {
    color: black;
}
.top-side {
    margin-bottom: 60px;
}
.top-side h1{
    color: #242424;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 18px 0;
}
.top-side p{
    font-size: 1.2rem;
    margin: 16px 0;
}
.main-side {
    position: relative;
}
.news-wrapper {
    padding: 0 64px 44px 0;
}
.news-item {
    border: 2px solid #e8e8e8;
    border-radius: 16px;
    padding: 24px;
    margin-top: 16px;
}
.item-header {
    display: flex;
    justify-content: space-between;
}
a.item-header__left, .item-header__right {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
}
a.item-header__left img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
a.item-header__left p {
    font-size: 0.9rem;
}
a.item-title {
    color: #292929;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: 8px;
    padding-right: 32px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-item p.item-description {
    color: #505050;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 4px;
    margin-bottom: 15px;
    padding-right: 32px;
    display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   min-height: 62px;
}
.new-item__content {
    display: flex;
    align-items: center;
}
.new-item__left {
    flex: 1;
    padding-right: 32px;
    max-width: calc(100% - 232px);
}
.new-item__right img {
    border-radius: 15px;
    min-height: 100px;
    object-fit: cover;
    overflow: hidden;
    text-align: center;
    width: 200px;
    max-height: 150px;
}
.item-bottom {
    min-height: 30px;
}
.item-bottom a {
    background-color: #f2f2f2;
    border-radius: 100px;
    color: #333;
    font-weight: 500;
    margin-right: 12px;
    padding: 4px 10px;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.item-bottom a span {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 160px;
    height: 1rem;
    line-height: 1rem;
}
.item-bottom span {
    font-size: 1rem;
}

.right-side__title {
    color: #757575;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.8;
    text-transform: uppercase;
}
.right-side__content {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
}
.right-side__content a {
    background-color: #f2f2f2;
    border-radius: 30px;
    color: #333;
    display: block;
    font-weight: 500;
    line-height: 1.8;
    margin: 0 8px 8px 0;
    padding: 6px 16px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#pagination {
    margin-top: 4px;
    display: flex;
    justify-content: center;
    transform: scale(1.3);
    margin-left: -64px;
}
.right-side.scroll {
    position: fixed;
    right: 38px;
    top: 68px;
    width: calc((100% - 76px)/3);
}

/* skeleton */
.item-header__loading-img {
    background-color: #ccc;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
p.item-header__loading-name {
    background-color: #ccc;
    min-width: 200px;
    height: 90%;
    border-radius: 4px;
}
a.new-item__loading-title {
    background-color: #ccc;
    min-height: 41px;
    min-width: 100%;
    display: block;
    border-radius: 6px;
    margin-top: 26px;
}
p.new-item__loading-description {
    width: 100%;
    background-color: #ccc;
    min-height: 62px;
    border-radius: 6px;
    margin: 4px 0 15px 0;
}
a.new-item__loading-hashtag {
    width: 89px;
    background-color: #ccc;
    min-height: 26px;
    display: inline-block;
}
span.new-item__loading-timepass {
    display: inline-block;
    background-color: #ccc;
    width: 68px;
    height: 26px;
    border-radius: 6px;
}
.new-item__loading-bigImg {
    background-color: #ccc;
    width: 200px;
    min-height: 100px;
    border-radius: 15px;
}
.right-side__loading-tag {
    height: 44px;
    /* flex: 1; */
    width: 204px;
    background-color: #ccc;
    margin-right: 10px;
    border-radius: 6px;
    margin-bottom: 12px;
}
.skeleton {
    position: relative;
    background: #ccc;
    border-radius: 15px;
    overflow: hidden;
}
.skeleton::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100px;
    left: -100px;
    top: 0;
    background: linear-gradient(to right, transparent, #ffffff70, transparent);
    animation: reflect 800ms ease-out infinite;
}
@keyframes reflect {
    to {
      left: calc(100% + 100px);
    }
}
/* header */
.back-to-homepage {
    border-bottom: 2px solid #e8ebed;
    padding: 10px 0 0 50px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 10;
}
a.home-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
}
a.home-page img {
    border-radius: 8px;
    flex-shrink: 0;
    height: 38px;
    object-fit: contain;
    width: 38px;
}
a.home-page span {
    color: #808990;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.custom-toast {
    right: 20px;
    top: 60px;
}