body{
    padding: 50px;
}
p{
    margin-bottom: 0;
}
div#loading-page {
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header */
.back-to-homepage {
    border-bottom: 2px solid #e8ebed;
    padding: 10px 0 0 50px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 10;
}
a.home-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
}
a.home-page img {
    border-radius: 8px;
    flex-shrink: 0;
    height: 38px;
    object-fit: contain;
    width: 38px;
}
a.home-page span {
    color: #808990;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
/* end header */
.custom-toast {
    right: 20px;
}
.header-wrapper {
    margin-bottom: 80px;
}
h1.header-title {
    color: #242424;
    font-size: 2.1rem;
    font-weight: 800;
    margin: 18px 0;
}
.heading-content {
    font-size: 1.3rem;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
}
.heading-content p {
    display: inline-block;
    padding-bottom: 12px;
    border-bottom: 2px solid #000;
}
.blog-item {
    border: 2px solid #e8e8e8;
    border-radius: 16px;
    margin-top: 16px;
    padding: 16px 24px 22px;
    position: relative;
}
.blog-item__tittle {
    margin-bottom: 12px;
}
.blog-item__tittle a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}
.blog-item__autho {
    color: #029e74;
}
.tippy-target__css {
    flex: 1;
    text-align: right;
    position: absolute;
    right: 18px;
    top: 14px;
}
.tippy-target__css i {
    padding: 6px;
    cursor: pointer;
}
.tippy-target__css i:hover {
    background-color: #ccc;
    border-radius: 4px;
}
.no-thing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding-top: 74px;
    gap: 20px;
}
i.fa-solid.fa-magnifying-glass {
    color: #ccc;
}

/* tippy */
.tiny-wrapper {
    box-shadow: 0 2px 9px rgb(0 0 0 / 4%);
    list-style: none;
    padding: 10px 0;
    border-radius: 6px;
    margin: -10px 0 0 0;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
}
.tiny-wrapper li {
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 16px;
    cursor: pointer;
}
.tiny-wrapper li:hover{
    background-color: #f0f0f0;
}
div[data-tippy-root] {
    pointer-events: auto !important;
}
.tippy-box {
    background-color: #fff !important;
    color: black !important;
    font-size: auto !important;
    line-height: auto !important;
}
.tippy-content {
    padding: 0 !important;
}
.tippy-arrow:before {
    content: none !important;
}