body{
    padding: 50px;
}
p{
    margin-bottom: 0;
}
div#loading-page {
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header */
.back-to-homepage {
    border-bottom: 2px solid #e8ebed;
    padding: 10px 0 0 50px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 10;
}
a.home-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
}
a.home-page img {
    border-radius: 8px;
    flex-shrink: 0;
    height: 38px;
    object-fit: contain;
    width: 38px;
}
a.home-page span {
    color: #808990;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
/* end header */
.main-side {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.top-side {
    background: top/cover no-repeat;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-top: -66px;
    padding-top: 28%;
    position: relative;
    width: 100%;
    background-image: url('../img/slider/slider01.avif');
}
.user-profile {
    align-items: flex-end;
    bottom: -70px;
    display: flex;
    left: 40px;
    position: absolute;
}
.user-profile img {
    background-color: #fff;
    border-radius: 50%;
    height: 168px;
    padding: 4px;
    width: 168px;
    border-radius: 50%;
    object-fit: cover;
}
.user-profile h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
    margin-left: 16px;
    text-align: center;
}

.bottom-side {
    margin-top: 90px;
    padding: 0 24px;
}
.introduce-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%), 0 0 1px 0 rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    padding: 18px 14px;
    word-break: break-word;
}
.introduce-content h4 , .recent-work h4, .right-side h4{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 24px;
}
.time-introduce, .shop-link {
    align-items: flex-start;
    display: flex;
    font-size: 1rem;
    line-height: 1.8rem;
    align-items: center;
    gap: 6px;
}
.shop-link a {
    text-decoration: none;
    color: #a75b5b;
}

.recent-work {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%), 0 0 1px 0 rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    padding: 18px 14px;
    word-break: break-word;
}
.recent-work__item {
    align-items: flex-start;
    align-self: center;
    display: flex;
}
.recent-work__item img.avatar {
    border-radius: 50%;
    flex-shrink: 0;
    height: 40px;
    margin-right: 8px;
    object-fit: cover;
    width: 40px;
}
.item-detail__wrapper {
    border-bottom: 1px solid #d0d7de;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.item-detail {
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
}
.own-account, .other-account{
    outline: none;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.item-detail img {
    width: 14px;
    height: 14px;
}
.right-side {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%), 0 0 1px 0 rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    padding: 18px 14px;
    word-break: break-word;
}
.blog-posted__item {
    align-items: flex-start;
    border-bottom: 1px solid #d0d7de;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 12px;
}
.blog-posted__item img {
    flex-shrink: 0;
    height: 128px;
    margin-right: 24px;
    width: 228px;
    border-radius: 16px;
    object-fit: cover;
}
.item-content__wrapper a {
    text-decoration: none;
}
.item-content__wrapper h3{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    color: black;
}
.item-content__wrapper p{
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 4px;
    overflow: hidden;
}
a.cmt-content {
    color: black;
    text-decoration: none;
}
.nothing-here {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nothing-here img {
    width: 80px;
    height: 80px;
}
.nothing-here h4 {
    color: #897474;
    margin-top: 32px;
    font-size: 1.4rem;
}