body{
    padding: 50px;
}
p{
    margin-bottom: 0;
}
button {
    border: none;
    outline: none;
}
.left-side {
    margin-left: 8.33333%;
}
.news-username{
    padding-right: 48px;
    position: -webkit-sticky;
    position: sticky;
    top: 93px;
}
.news-interactive {
    display: flex;
    justify-content: end;
    gap: 24px;
    font-size: 24px;
}
.updown-interact {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.updown-interact i {
    font-size: 40px;
    cursor: pointer;
    color: #af9c9c;
}
.updown-interact i.choose {
    color: #493d3d;
}
.updown-interact i:hover{
    color: #807272;
}
.updown-interact span {
    line-height: 18px;
}
.comment-interact {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
.comment-interact i {
    color: #af9c9c;
}
.comment-interact i:hover{
    color: #807272;
}

.news-title{
    color: #222;
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    margin: 26px 0;
}
.news-heading__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}
.news-heading__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.news-heading__left a {
    text-decoration: none;
}
.news-heading__left img {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    cursor: pointer;
}
.heading-detail p {
    color: #292929;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    cursor: pointer;
}
.heading-detail span {
    color: #757575;
}
.news-heading__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.news-heading__right span {
    padding: 5px;
    cursor: pointer;
}
.news-heading__right span:hover {
    opacity: 0.8;;
}
.news-content {
    min-height: 500px;
}
.news-content img{
    max-width: 100%;
}
.news-comment {
    margin-top: 70px;
}
.comment-news__heading h4{
    font-size: 18px;
    font-weight: 600;
}
.comment-news__heading p {
    color: #666;
    font-size: 15px;
    font-style: italic;
    line-height: 1.4;
    margin: 13px 0;
}
.your-comment {
    position: relative;
    display: flex;
    margin: 50px 0;
}
.interact-comments {
    position: absolute;
    right: 0;
    bottom: -60px;
}
.your-comment img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.comment-update, .comment-reply{
    margin-top: 14px;
    margin-bottom: 74px;
}
.comment-update img, .comment-reply img{
    height: 36px;
    width: 36px;
}
.comment-input {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    padding-left: 0;
    margin-left: 10px;
    white-space: normal;
    width: calc(100% - 44px);
    outline: none;
}
.comment-input::before{
    position: absolute;
    color: #999;
    content: attr(placeholder);
    cursor: text;
    display: inline-block;
    width: 100%;
}
.cancel-btn {
    background: transparent;
    border-radius: 20px;
    color: #888;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    user-select: none;
    margin-right: 16px;
}
.cancel-btn:hover {
    background: #ebebeb;
    color: #777;
    cursor: pointer;
    opacity: .8;
}
.post-comment__btn{
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    user-select: none;
    color: #fff;
    background: #ccc;
    pointer-events: none;
}
.post-comment__btn.active {
    background-color: #f05123;
    pointer-events: auto;
}
.post-comment__btn.active:hover {
    cursor: pointer;
    opacity: .8;
}

.other-comments__wrapper {
    margin-top: 86px;
}
.other-comment__item {
    display: flex;
    margin-top: 16px;
}
.other-comment__item img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
.other-comment__detail {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.comment-detail__top {
    background-color: #f2f3f5;
    border-radius: 18px;
    color: #1c1e21;
    padding: 9px 12px;
    position: relative;
}
.comment-name {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    font-weight: 600;
}
.comment-content {
    font-weight: 400;
}
.comment-react__quan {
    position: absolute;
    right: 0;
    bottom: -12px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #00000033;
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* padding: 2px 4px 2px 8px; */
    font-size: 14px;
}
.comment-react__quan img {
    width: 18px;
    height: 18px;
    margin: 2px 0;
}
.comment-react__quan span {
    margin: 2px 0;
    margin-right: 8px;
}
.comment-react__quan img:nth-child(1){
    margin-left: 6px;
    z-index: 4;
}
.comment-react__quan img:nth-child(2){
    margin-left: -4px;
    z-index: 3;
}
.comment-react__quan img:nth-child(3){
    margin-left: -4px;
    z-index: 2;
}
.comment-react__quan img:nth-child(4){
    margin-left: -4px;
    z-index: 1;
}
.comment-react__quan img:nth-child(5){
    margin-left: -4px;
}
.comment-react__quan span {
    margin-left: 4px;
}
.comment-detail__bottom {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 46px;
    justify-content: flex-start;
    color: #999;
    font-size: 14px; 
    position: relative;
}

.react-containter {
    display: none;
    position: absolute;
    font-size: 33px;
    cursor: pointer;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 28px;
    padding: 8px 14px;
    background-color: white;
    top: -46px;
    transition: all 0.3s ease;
    z-index: 100;
}
.comment-detail__bottom.react .react-containter {
    display: flex;
}
.react-containter img {
    transition: all 0.5s ease;
}
.react-containter img:hover {
    transform: scale(1.3);
}
.comment-detail__bottom .react-comment, .comment-detail__bottom .reply-comment {
    cursor: pointer;
}
.comment-detail__bottom .react-comment:hover, .comment-detail__bottom .reply-comment:hover {
    text-decoration: underline;
}
.not-login__comment {
    margin-bottom: -40px;
}
div#loading-page {
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header */
.back-to-homepage {
    border-bottom: 2px solid #e8ebed;
    padding: 10px 0 0 50px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 10;
}
a.home-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
}
a.home-page img {
    border-radius: 8px;
    flex-shrink: 0;
    height: 38px;
    object-fit: contain;
    width: 38px;
}
a.home-page span {
    color: #808990;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.auth-side.col-lg-2 {
    text-align: end;
    padding-top: 40px;
    position: fixed;
    right: 30px;
}
.spinner-border {
    width: 1.4rem;
    height: 1.4rem;
}
.spinner-border.hide {
    display: none;
}
.tiny-wrapper {
    box-shadow: 0 2px 9px rgb(0 0 0 / 4%);
    list-style: none;
    padding: 10px 0;
    border-radius: 6px;
    margin: -10px 0 0 0;
}
.tiny-wrapper li {
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 16px;
    cursor: pointer;
}
.tiny-wrapper li:hover{
    background-color: #f0f0f0;
}
div[data-tippy-root] {
    pointer-events: auto !important;
}
.tippy-box {
    background-color: #fff !important;
    color: black !important;
    font-size: auto !important;
    line-height: auto !important;
}
.tippy-content {
    padding: 0 !important;
}
.tippy-arrow:before {
    content: none !important;
}

.tippy-target__css {
    flex: 1;
    text-align: right;
}
.tippy-target__css i {
    display: none;
    padding: 6px;
    cursor: pointer;
}
.tippy-target__css i:hover {
    background-color: #ccc;
    border-radius: 4px;
}
.other-comment__item:hover .tippy-target{
    display: inline-block;
}

.custom-toast {
    right: 20px;
    z-index: 9999;
}
.reply-name {
    font-weight: 600;
    background: rgba(29,191,175,.3);
    border-radius: 1px;
    padding: 0 2px;
}
.action-cmt_area {
    padding-left: 50px;
}
.number-reply {
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s ease;
}
.number-reply:hover {
    text-decoration: underline;
}
span.react-comment.clicked {
    font-weight: 800;
    color: #b43131;
}
/* #showReactModal {
    opacity: 1 !important;
    display: block !important;
} */
#showReactModal .modal-content{
    max-width: 600px;
    border-radius: 16px;
    min-width: 360px;
    width: auto;
}
#showReactModal .modal-header {
    font-size: 16px;
    padding: 18px 24px;
    color: #f05123;
}
#showReactModal .modal-body {
    padding: 24px;
    max-height: 420px;
    overflow: auto;
    text-align: center;
}
#showReactModal .modal-body::-webkit-scrollbar {
    width: 6px;
}

/* #showReactModal .modal-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
} */

#showReactModal .modal-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
    background-color: #ccc;
}

.reaction-item {
    display: flex;
    max-width: 100%;
    margin-bottom: 16px;
}
.reaction-item__avatar {
    position: relative;
}
.reaction-item__avatar img:nth-child(1) {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}
.reaction-item__avatar img:nth-child(2) {
    position: absolute;
    height: 18px;
    top: 30px;
    left: 29px;
}
.reaction-item__name {
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reaction-item__name p{
    font-weight: 600;
    cursor: pointer;
}