body {
    background-color: #fafbfd;
    padding: 50px;
}
a {
    text-decoration: none;
}
.help-header {
    display: flex;
    justify-content: space-between;
}
.help-header button + button {
    margin-left: 10px;
}
.left-side .custome-btn {
    width: 100%;
    margin-bottom: 36px;
    margin-top: 4px;
    padding: 12px;
}
.left-side, .right-side {
    padding-top: 20px;
}
.help-title {
    margin-bottom: 20px;
}
.help-list li {
    color: black;
    cursor: pointer;
}
.help-list li:hover {
    color: rgb(190, 190, 25);
}
.help-list li.clicked {
    color: rgb(190, 190, 25);
}
.help-list li {
    list-style: none;
    margin: 6px 0;
}

.help-useful {
    margin-top: 60px;
    min-height: 187px;
    background-color: #f4f4f4;
    padding: 40px 40px 20px 40px;
}
.help-useful.hide {
    display: none;
}
.help-useful h4{
    margin-bottom: 20px;
    font-weight: bold;
}

button.btn-useful {
    background-color: #fff;
    border: none;
    outline: none;
    width: 164px;
    height: 62px;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.useful-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.result-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0;
}

/* @keyframes fadeOut {
    from{width: 0;}
    to{width: auto;}
} */
.Co-result {
    background-color: #cfd9de;
    width: calc(1%);
    border-radius: 10px;
    padding: 6px;
    transition: width 0.8s linear;
    /* animation: fadeOut 1s ease-out; */
}
.Khong-result {
    background-color: #cfd9de;
    width: calc(1%);
    border-radius: 10px;
    padding: 6px;
    transition: width 0.8s linear;
    /* animation: fadeOut 1s linear; */
}
.Co-result.choose, .Khong-result.choose {
    background-color: #5aa8dd;
}

.ck-editor__editable {
    min-height: 40vh;
    max-height: 56vh;
}

.spinner-border {
    width: 1.4rem;
    height: 1.4rem;
}
.spinner-border.hide {
    display: none;
}

.help-content {
    min-height: 592px;
    padding-top: 30px;
}
.help-content img {
    max-width: 100%;
}
.no-ques {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.no-ques h1{
    font-size: 86px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
    color: #151515;
}
.no-ques h2{
    font-size: 26px;
    margin: 0;
    font-weight: 700;
    color: #151515;
}
.no-ques a{
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #18e06f;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
}
div#loading-page {
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header */
.back-to-homepage {
    border-bottom: 2px solid #e8ebed;
    padding: 10px 0 0 50px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 10;
}
a.home-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
}
a.home-page img {
    border-radius: 8px;
    flex-shrink: 0;
    height: 38px;
    object-fit: contain;
    width: 38px;
}
a.home-page span {
    color: #808990;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.more-ques {
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 40px 40px 20px 40px;
    position: relative;
}
.more-ques h4 {
    margin-bottom: 20px;
    font-weight: bold;
}
.more-ques textarea {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    padding: 6px;
}
.more-ques button {
    min-width: 100px;
    margin-top: 12px;
}
.count-char__wrapper{
    position: absolute;
    right: 46px;
    color: #6f6c6c;
}
.custom-toast {
    right: 20px;
    top: 60px;
}
.more-ques button.sending {
    pointer-events: none;
    opacity: 0.7;
}