/*=====================GOOGLE FONTS=====================*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Italiana&display=swap');

/*=====================BASE RESET=====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    width: 100%;
    height: auto;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.main {
    overflow: hidden;
}

input {
    border: none;
    outline: none;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    scroll-behavior: smooth !important;
}

/*=====================VARIABLE CSS=====================*/
:root {
    /*=====================COLOR=====================*/
    --first-color: 0;
    --second-color: 0;
    --text-color: hsl(203, 8%, 98%);
    --text-color-light: hsl(203, 8%, 80%);
    --body-color: hsl(259, 20%, 18%);
    --black-color: hwb(0deg 10% 90%);
    --black-light-color: #222222;
    --blue-color: hsl(180, 60%, 52%);
    --yellow-color: hsl(58, 76%, 57%);
    --gray-color: hwb(0deg 67% 29%);
    --gray-light-color: #636363;
    --gray-tiny-color: #727272;
    --gray-bny-color: #58525261;
    --blue-heavy-color: #051356;
    --blue-light-color: #007aff;
    --bronie-light-color: #f8dada;
    --bronie-color: #a99393;
    --red-color: #e63619;
    --green-color: #6ae149;
    /*=====================FONTS=====================*/
    --body-font: 'Lato', sans-serif;
    --logo-font: 'Arizonia', cursive;
    --regular-logo-font: 'Bad Script', cursive;
    --Italina: 'Italiana', serif;
    --Caudex: 'Caudex', serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.15rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.813rem;
    /*=====================FONT WEIGHT=====================*/
    --font-none-bold: 400;
    --font-semi-bold: 600;
    /*=====================Z-INDEX=====================*/
    --z-index-fixed: 100;
    --z-index-default: 10;
    /*=====================BACKGROUND COLOR=====================*/
    --container-color: #fff;
    --overlay-color: #0000008f;
    --black-bg-color: #08080892;
    --black-bg-light-color: #000000c9;
    --organge-bg-color: #da7c1bc4;
    --notify-color: #fff6f7;
    --notify-bd-color: #ff424f;
    --red-bg-color:#fd2200cc;
    --red-bg-opacity-color: #e79b8fb8;
    --green-bg-opactiy-color: #96f3bbab;
    --submit-ds-color: #bfb0b0b3;
    --white-opacity-light: #ffffff61;
    --black-opacity-light: #29262661;
    --white-opacity-color: #dfbbbb61;
    /*=====================SIZE=====================*/
    --image-size: 135px;
    /*=====================BACKGROUND LINEAR-GRADIENT COLOR=====================*/
    --black-ligh-lg-color: linear-gradient(157deg, rgb(41 41 45) 0%, rgb(42 37 37) 35%, rgb(45 42 42) 49%, rgb(50 45 45) 100%);
    --blue-light-lg-color: linear-gradient(96.6deg, rgba(0, 115, 121, .112) 11.23%, rgba(0, 95, 100, 0) 115.9%);
}

/*=====================RESPONSIVE TYPOGRAPHY=====================*/
@media screen and (min-width:1024px) {
    :root {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

/*=====================SETTINGS DEFAULT=====================*/
.width-full {
    width: 100%;
}

.height-full {
    height: 100%;
}

.flex-default {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-center-align {
    align-items: center;
}

.flex-space-center {
    align-items: center;
    justify-content: space-between;
}

.column-gap-default {
    column-gap: 1rem;
}

.row-gap-default {
    row-gap: 1rem;
}

.grid-default {
    display: grid;
}

.grid-one-column-center {
    grid-template-columns: repeat(1, 1fr);
}

.grid-two-column-center {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-column-center {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-column-center {
    grid-template-columns: repeat(4, 1fr);
}

.grid-five-column-center {
    grid-template-columns: repeat(5, 1fr);
}

.position-relative {
    position: relative;
}

.overlay-fixed-settings {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cursor-select-none {
    cursor: default;
}

.cursor-select-pointer {
    cursor: pointer;
}

.cursor-select-not-allowed {
    cursor: not-allowed;
}

section[mode="slider-content"] {
    width: 1300px;
    max-width: 1300px;
    margin: 0 auto;
    font-family: var(--Caudex);
    padding: 85px 0;
}

section[mode="footer-content"] {
    width: 1300px;
    max-width: 1300px;
    margin: 0 auto;
    font-family: var(--Caudex);
    padding: 85px 0;
}

footer {
    background: var(--black-ligh-lg-color);
}

/*=====================PRODUCT-PAGE-ADD=====================*/
.product-page__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--overlay-color);
    z-index: var(--z-index-fixed);
    display: flex;
}

.product-page__title {
    border-bottom: 1px solid var(--black-color);
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.product-page__header {
    color: var(--black-color);
    font-family: var(--Italina);
    font-weight: var(--font-semi-bold);
}

.product-page__content {
    margin: auto;
    background-color: var(--container-color);
    max-width: calc(100% - 16px);
    max-height: calc(100% - 16px);
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.product-page__details-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--black-color)
}

.product-page__details-header {
    font-size: var(--normal-font-size);
    color: var(--gray-color);
}

.product-page__details-box {
    margin-top: 1rem;
}

.product-page__input-field-title {
    color: var(--black-color);
    font-size: var(--normal-font-size);
    text-align: left;
    margin-bottom: 1rem;
}

.product-page__input-field {
    margin-top: 1rem;
}

.product-page__input {
    width: 100%;
    height: 40px;
    background-color: var(--container-color);
    border: 1px solid rgb(206 212 218);
    border-radius: 4px;
    line-height: 2rem;
    cursor: initial;
    transition: 0.4s;
    padding: 0px 10px 0px 8px;
    line-height: 22px;
}

#product-page__description {
    height: 10rem;
    resize: none;
    transition: 0.6s;
}

.product-page__input:focus {
    border: 1px solid var(--blue-heavy-color);
}

.product-page__text-area-notify {
    color: var(--gray-color);
    font-size: var(--smaller-font-size);
    margin-top: 0.5rem;
}

.product-page__input-option {
    height: var(--image-size);
    border: 1px dashed var(--blue-heavy-color);
    border-radius: 6px;
}

.product-page__input-file {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    cursor: pointer;
    font-size: 0px;
    opacity: 0;
    z-index: calc(var(--z-index-fixed) + 50);
    background-color: transparent;
    border-radius: 6px;
    transition: 0.4s;
}

.product-page__input-image-description {
    color: var(--gray-color);
    font-size: var(--normal-font-size);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    max-width: calc(100% - 8px);
}

.product-page__details-images-box .product-page__input-field-title {
    margin-top: 1rem;
    margin-bottom: 0;
}

/*=====================MODIFIER BUTTON=====================*/
.product-page__induct-controller {
    margin-top: 1rem;
}

.product-page__induct[mode="light"] {
    border: 1px solid#b2b6c8;
}

.product-page__induct[type="add"] {
    border: 1px solid #051356;
    width: 215px;
    height: 45px;
    border: 1px solid var(--blue-heavy-color);
    overflow: hidden;
    background-color: var(--container-color);
}

.product-page__induct[type="add"] .product-page__induct-text {
    text-align: center;
    color: #051356;
    font-weight: var(--font-semi-bold);
    font-size: var(--smaller-font-size);
    padding: 12px 36px;
    z-index: var(--z-index-default);
    transition: 0.4s;
    transition-delay: 0.2s;
    display: block;
}

.product-page__induct-sharp, .banned-page__induct-sharp, .edit-profile-page__induct-sharp, .role-page__induct-sharp  {
    background-color: var(--blue-heavy-color);
    position: absolute;
    top: 0;
    right: calc(100% + 25px);
    width: 150%;
    padding-top: 150%;
    -webkit-transform: rotate(-45deg) translate(0, 0);
    -ms-transform: rotate(-45deg) translate(0, 0);
    transform: rotate(-45deg) translate(0, 0);
    -webkit-transition: all .55s cubic-bezier(.69, .26, .28, .95);
    -o-transition: all .55s cubic-bezier(.69, .26, .28, .95);
    transition: all .55s cubic-bezier(.69, .26, .28, .95);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
}

.product-page__induct[mode="light"] .product-page__induct-sharp {
    background-color: var(--gray-bny-color);
}

.product-page__induct:hover .product-page__induct-sharp {
    -webkit-transform: rotate(-45deg) translate(80%, 0);
    -ms-transform: rotate(-45deg) translate(80%, 0);
    transform: rotate(-45deg) translate(80%, 0);
}

.product-page__induct:hover .product-page__induct-text {
    color: var(--text-color);
}

/*=====================USER-DATA-PAGE=====================*/
.user-data-page {
    padding: 1rem;
    background-color: rgb(181 166 166 / 18%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.user-data-page__header {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--black-color);
}

.user-data-page__title {
    color: var(--black-color);
    font-size: var(--h2-font-size);
    font-family: var(--Italina);
    text-align: center;
    font-weight: var(--font-semi-bold);
    letter-spacing: 2px;
}

.user-data-page__btn {
    background-color: var(--container-color);
    font-size: var(--normal-font-size);
    font-family: var(--Caudex);
    width: 100px;
    height: 50px;
}

.user-data-page__btn[status="not-actived"] {
    color: var(--gray-color);
}

.user-data-page__btn-field {
    background-color: var(--container-color);
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;
}

.user-data-page__btn-seperate {
    position: absolute;
    top: 95%;
    width: 50%;
    height: 5px;
    left: 0%;
    background-color: var(--blue-heavy-color);
    transition: 0.6s;
}

.user-data-page__member-branch {
    margin: 1rem 0;
    color: var(--black-color);
    font-size: var(--h2-font-size);
    font-family: var(--Caudex);
}

.user-data-page__member-list {
    background-color: var(--container-color);
    border-radius: 4px;
    padding: 0.75rem;
    border:1px solid var(--black-bg-color);
}

.user-data-page__member-column {
    color: var(--gray-color);
    border-bottom: 1px solid #2926261a;
    padding-bottom: 0.5rem;
}

.user-data-page__member-column[mode="sub-column"] {
    border-bottom: unset;
}

.user-data-page__member-row {
    flex: 1;
    font-size: var(--smaller-font-size);
}

.user-data-page__member-column[type="member"] {
    padding: 1rem 0;
    color: var(--black-color);
}

.user-data-page__member-img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--black-opacity-light);
}

.user-data-page__member-row[data="active"] div[status="Offline"] {
    color: var(--red-color);
    padding: 0.2rem 0.75rem;
    background-color: var(--red-bg-opacity-color);
    display: inline-block;
    border-radius: 8px;
}

.user-data-page__member-row[data="active"] div[status="Online"] {
    color: var(--green-color);
    padding: 0.2rem 0.75rem;
    background-color: var(--green-bg-opactiy-color);
    display: inline-block;
    border-radius: 8px;
}

.user-data-page__member-row[data="active"] div[status="Banned"] {
    color: var(--gray-color);
    padding: 0.2rem 0.75rem;
    background-color: var(--gray-light-color);
    display: inline-block;
    border-radius: 8px;
}

.user-data-page__member-icon {
    width: 30px;
    height: 30px;
}


/*===Staff Element===*/
.user-data-page__branch-title{
    font-size: var(--h1-font-size);
    
}
.user-data-page__branch-add{
    background-color:var(--bronie-color);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: var(--normal-font-size);
    color:var(--text-color);
    transition: 0.6s;
    cursor: pointer;
}

.user-data-page__branch-add:hover{
    opacity: 0.7;
}

.user-data-page__branch-search{
    background-color:var(--container-color);
    border-radius: 6px;
}

.user-data-page__input-field{
    overflow: hidden;
    padding: 0.5rem 1rem;
    border: 1px solid #314b51;
    border-radius: 8px;
}

.user-data-page__input-search{
    height: 30px;
    width: 250px;
    border-radius: 8px;
    padding: 0 0.5rem;
}

.user-data-page__option-search{
    border-left: 1px solid var(--black-bg-light-color);
    padding-left: 0.25rem;
    display: flex;
    align-items: center;
}

#user-data-page__search:hover{
    opacity: 0.8;
}

#user-data-page__search{
    height: 30px;
    background-color:var(--bronie-color);
    border-radius: 3px;
    padding: 0 0.5rem;
    color:var(--text-color);
    transition: 0.6s;
}

.user-data-page__controller{
    margin-top: 1rem;
    height: 30px;
}

.user-data-page__controller-action{
    transition: 0.6s;
}

.user-data-page__controller-action:hover{
    opacity: 0.7;
}

.user-data-page__controller-action[type="leftArrow"] .user-data-page__controller-icon{
    transform:rotate(180deg)
}

.user-data-page__controller-icon{
    background-color: var(--black-bg-color);
    width: 30px;
    height: 30px;
}

.user-data-page__controller-number-page{
    position: relative;
    top: -3px;
}

.user-data-page__controller-index{
    color:var(--black-color);
    font-size: var(--normal-font-size);
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition: 0.4s;
}

.user-data-page__controller-index:hover{
    opacity: 0.8;
    background-color: var(--black-opacity-light);
    border-radius: 50%;
}

.user-data-page__controller-index[status="active"]{
    background-color:var(--bronie-color) !important;
    border-radius: 50%;
    color:var(--text-color)
}

/*======================BANNED-PAGE======================*/
.banned-page__overlay, .role-page__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-index-fixed);
    background-color: var(--black-opacity-light);
    display: flex;
}

.banned-page__content, .role-page__content{
    margin: auto;
    width: 500px;
    height: 100%;
    max-height: calc(100% - 32px);
    background-color: var(--container-color);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 7px 2px var(--black-opacity-light);
    transition: 0.6s;
}

.banned-page__title, .role-page__title{
    color:var(--black-color);
    font-family: var(--Italina);
    font-weight: var(--font-semi-bold);
    text-align: center;
    border-bottom:1px solid var(--black-color);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.banned-page__user-avatar-img, .role-page__user-avatar-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:1px solid var(--black-bg-light-color);
}

.banned-page__user-profile, .role-page__user-profile{
    text-align: center;
    margin: 1rem 0;
}

.banned-page__user-name, .role-page__user-name{
    color:var(--black-color);
    font-family: var(--Italina);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
}

.banned-page__user-email, .role-page__user-email{
    font-family: var(--Caudex);
    font-weight: var(--font-none-bold);
    color:var(--gray-color);
    margin-top: 0.25rem;
    font-size: var(--h3-font-size);
}

.banned-page__description, .role-page__description{
    color:var(--black-color);
    font-size:var(--normal-font-size);
    font-family: var(--Caudex);
    text-align: center;
    margin-bottom: 0.5rem;
}

.banned-page__controller-btn, .role-page__controller{
    width: 200px;
    height: 40px;
    background-color: var(--gray-bny-color);
    border-radius: 4px;
    transition: 0.6s;
    font-family: var(--Caudex);
}

.banned-page__controller-btn[mode="cancel"]:hover, .role-page__controller-btn[mode="cancel"]:hover{
    opacity: 0.7;
    border:1px solid var(--gray-light-color);
}

.banned-page__controller-btn[mode="submit"]:hover, .role-page__controller-btn[mode="submit"]:hover{
    box-shadow: 0 0 4px 3px #d97474;
}

.banned-page__controller-btn[mode="submit"], .role-page__controller-btn[mode="submit"]{
    background-color:var(--red-bg-color);
    color:var(--text-color);
}

.banned-page__message, .role-page__message{
    width: 100%;
}

.banned-page__message-title, .role-page__message-title{
    color:var(--black-color);
    font-family: var(--Caudex);
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.banned-page__message-input{
    width: 100%;
    height: 6rem;
    font-family: var(--Caudex);
    font-size: var(--h3-font-size);
    padding:0.25rem 0.5rem;
    resize:none;
}

.banned-page__induct-controller, .role-page__induct-controller {
    margin-top: 1rem;
}

.banned-page__induct[mode="light"], .role-page__induct[mode="light"] {
    border: 1px solid#b2b6c8;
}

.banned-page__induct[mode="light"] .banned-page__induct-text,
.role-page__induct[mode="light"] .role-page__induct-text{
    color:var(--gray-color) !important;
}

.banned-page__induct[type="view"], .role-page__induct[type="view"]  {
    border: 1px solid #051356;
    width: 215px;
    height: 45px;
    border: 1px solid var(--blue-heavy-color);
    overflow: hidden;
    background-color: var(--container-color);
}

.banned-page__induct[type="view"] .banned-page__induct-text,
.role-page__induct[type="view"] .role-page__induct-text {
    text-align: center;
    color: var(--red-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--smaller-font-size);
    padding: 12px 36px;
    z-index: var(--z-index-default);
    transition: 0.4s;
    transition-delay: 0.2s;
    display: block;
}

.banned-page__induct-sharp, .role-page__induct-sharp {
    background-color: var(--red-bg-opacity-color);
}

.banned-page__induct[mode="light"] .banned-page__induct-sharp,
.role-page__induct[mode="light"] .role-page__induct-sharp {
    background-color: var(--gray-bny-color);
}

.banned-page__induct:hover .banned-page__induct-sharp,
.role-page__induct:hover .role-page__induct-sharp {
    -webkit-transform: rotate(-45deg) translate(80%, 0);
    -ms-transform: rotate(-45deg) translate(80%, 0);
    transform: rotate(-45deg) translate(80%, 0);
}

.banned-page__induct:hover .banned-page__induct-text,
.role-page__induct:hover .role-page__induct-text {
    color: var(--text-color) !important;
}

/*======================EDIT-PROFILE-PAGE======================*/
.edit-profile-page__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--overlay-color);
    z-index: var(--z-index-fixed);
    display: flex;
}

.edit-profile-page__title {
    border-bottom: 1px solid var(--black-color);
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.edit-profile-page__header {
    color: var(--black-color);
    font-family: var(--Italina);
    font-weight: var(--font-semi-bold);
}

.edit-profile-page__content {
    margin: auto;
    background-color: var(--container-color);
    max-width: calc(100% - 16px);
    max-height: calc(100% - 16px);
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.edit-profile-page__details-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--black-color)
}

.edit-profile-page__details-header {
    font-size: var(--normal-font-size);
    color: var(--gray-color);
}

.edit-profile-page__input-field-title {
    color: var(--black-color);
    font-size: var(--normal-font-size);
    text-align: left;
    margin-bottom: 1rem;
}

.edit-profile-page__input-field {
    margin-top: 1rem;
}

.edit-profile-page__input {
    width: 100%;
    height: 40px;
    background-color: var(--container-color);
    border: 1px solid rgb(206 212 218);
    border-radius: 4px;
    line-height: 2rem;
    cursor: initial;
    transition: 0.4s;
    padding: 0px 10px 0px 8px;
    line-height: 22px;
}

#edit-profile-page__description {
    height: 10rem;
    resize: none;
    transition: 0.6s;
}

.edit-profile-page__input:focus {
    border: 1px solid var(--blue-heavy-color);
}

.edit-profile-page__user-avatar {
    height: var(--image-size);
    border: 1px dashed var(--blue-heavy-color);
    border-radius: 6px;
    /* width: 215px; */
}

.edit-profile-page__user-avatar-img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.edit-profile-page__details-images-box .edit-profile-page__input-field-title {
    margin-top: 1rem;
    margin-bottom: 0;
}

/*=====================MODIFIER BUTTON=====================*/
.edit-profile-page__induct-controller {
    margin-top: 1rem;
}

.edit-profile-page__induct[mode="light"] {
    border: 1px solid#b2b6c8;
}

.edit-profile-page__induct[type="view"] {
    border: 1px solid #051356;
    width: 215px;
    height: 45px;
    border: 1px solid var(--blue-heavy-color);
    overflow: hidden;
    background-color: var(--container-color);
}

.edit-profile-page__induct[type="view"] .edit-profile-page__induct-text {
    text-align: center;
    color: var(--gray-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--smaller-font-size);
    padding: 12px 36px;
    z-index: var(--z-index-default);
    transition: 0.4s;
    transition-delay: 0.2s;
    display: block;
}

.edit-profile-page__induct-sharp {
    background-color: var(--gray-color);
}

.edit-profile-page__induct[mode="light"] .edit-profile-page__induct-sharp {
    background-color: var(--gray-bny-color);
}

.edit-profile-page__induct:hover .edit-profile-page__induct-sharp {
    -webkit-transform: rotate(-45deg) translate(80%, 0);
    -ms-transform: rotate(-45deg) translate(80%, 0);
    transform: rotate(-45deg) translate(80%, 0);
}

.edit-profile-page__induct:hover .edit-profile-page__induct-text {
    color: var(--text-color);
}

.edit-profile-page__input:disabled{
    background-color:  #29262629;;
}

.role-page__induct .role-page__induct-text{
    color:var(--green-color) !important;
}

.role-page__induct[mode="green"] .role-page__induct-sharp{
    background-color:var(--green-bg-opactiy-color);
}

.role-page__select-option{
    width: 100%;
    height: 30px;
    border-radius: 8px;
    padding: 0 0.5rem;
}

.role-page__content{
    max-height: calc(100% - 100px);
}