body {
    background-color: #f2f3f8;
}
.container.custome-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 222px;
}
form.form-submit.col-md-6 {
    margin-top: 30px;
    background-color: #fff;
    padding: 46px 34px;
    border-radius: 8px;
}
input#confirm-password {
    margin-bottom: 30px;
}
button.btn.btn-primary {
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 110px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.toast {
    top: 10% !important;
}
button:focus {
    box-shadow: none !important;
}
.spinner-border {
    width: 1.4rem;
    height: 1.4rem;
}
.spinner-border.hide {
    display: none;
}
.form-submit p {
    font-size: 14px;
    color: #918383;
    margin-top: 7px;
}