/*=====================GOOGLE FONTS=====================*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Italiana&family=Montserrat:wght@100&display=swap');
/*=====================BASE RESET=====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    width: 100%;
    height: auto;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.main {
    overflow: hidden;
}

input {
    border: none;
    outline: none;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    scroll-behavior: smooth !important;
    font-weight:var(--font-none-bold);
    -webkit-tap-highlight-color: rgba(34,41,47,0);
    -webkit-text-size-adjust: 100%;
}

/*=====================VARIABLE CSS=====================*/
:root {
    /*=====================COLOR=====================*/
    --first-color: 0;
    --second-color: 0;
    --text-color: hsl(203, 8%, 98%);
    --text-color-light: hsl(203, 8%, 80%);
    --body-color: hsl(259, 20%, 18%);
    --black-color: hwb(0deg 10% 90%);
    --black-light-color: #222222;
    --blue-color: hsl(180, 60%, 52%);
    --yellow-color: hsl(58, 76%, 57%);
    --gray-color: hwb(0deg 67% 29%);
    --gray-light-color: #636363;
    --gray-tiny-color: #727272;
    --gray-bny-color: #58525261;
    --blue-heavy-color: #051356;
    --blue-light-color: #007aff;
    --bronie-light-color: #f8dada;
    --bronie-color: #a99393;
    --red-color: #e63619;
    --green-color:#6ae149;
    /*=====================FONTS=====================*/
    --body-font: 'Lato', sans-serif;
    --Lato-font: 'Lato', sans-serif;
    --logo-font: 'Arizonia', cursive;
    --regular-logo-font: 'Bad Script', cursive;
    --Italina: 'Italiana', serif;
    --Caudex: 'Caudex', serif;
    --Montserrat: 'Montserrat', Helvetica,Arial,serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.15rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.813rem;
    /*=====================FONT WEIGHT=====================*/
    --font-none-bold: 400;
    --font-semi-bold: 600;
    /*=====================Z-INDEX=====================*/
    --z-index-fixed: 100;
    --z-index-default: 10;
    /*=====================BACKGROUND COLOR=====================*/
    --container-color: #fff;
    --overlay-color: #0000008f;
    --black-bg-color: #08080892;
    --black-bg-light-color: #000000c9;
    --organge-bg-color: #da7c1bc4;
    --notify-color: #fff6f7;
    --notify-bd-color: #ff424f;
    --submit-ds-color: #bfb0b0b3;
    --white-opacity-light: #ffffff61;
    --black-opacity-light: #29262661;
    --white-opacity-color: #dfbbbb61;
    /*=====================BACKGROUND LINEAR-GRADIENT COLOR=====================*/
    --black-ligh-lg-color: linear-gradient(157deg, rgb(41 41 45) 0%, rgb(42 37 37) 35%, rgb(45 42 42) 49%, rgb(50 45 45) 100%);
    --blue-light-lg-color: linear-gradient(96.6deg, rgba(0, 115, 121, .112) 11.23%, rgba(0, 95, 100, 0) 115.9%);
}

/*=====================RESPONSIVE TYPOGRAPHY=====================*/
@media screen and (min-width:1024px) {
    :root {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

/*=====================SETTINGS DEFAULT=====================*/
.width-full {
    width: 100%;
}

.height-full {
    height: 100%;
}

.flex-default {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-center-align {
    align-items: center;
}

.flex-space-center {
    align-items: center;
    justify-content: space-between;
}

.column-gap-default {
    column-gap: 1rem;
}

.row-gap-default {
    row-gap: 1rem;
}

.grid-default {
    display: grid;
}

.grid-one-column-center {
    grid-template-columns: repeat(1, 1fr);
}

.grid-two-column-center {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-column-center {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-column-center {
    grid-template-columns: repeat(4, 1fr);
}

.grid-five-column-center {
    grid-template-columns: repeat(5, 1fr);
}

.position-relative {
    position: relative;
}

.overlay-fixed-settings {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cursor-select-none {
    cursor: default;
}

.cursor-select-pointer {
    cursor: pointer;
}

.cursor-select-not-allowed {
    cursor: not-allowed;
}

section[mode="slider-content"] {
    width: 1300px;
    max-width: 1300px;
    margin: 0 auto;
    font-family: var(--Caudex);
    padding: 85px 0;
}

section[mode="footer-content"] {
    width: 1300px;
    max-width: 1300px;
    margin: 0 auto;
    font-family: var(--Caudex);
    padding: 85px 0;
}

footer {
    background: var(--black-ligh-lg-color);
}
/*=====================MOD SETTINGS=====================*/
.dot-windmill {
    position: relative;
    top: -10px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    transform-origin: 5px 15px;
    animation: dotWindmill 2.5s infinite linear;
}

.dot-windmill::before, .dot-windmill::after {
    content: '';
    display: inline-block;
    position: absolute;
}

.dot-windmill::before {
    left: -8.66px;
    top: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
}

.dot-windmill::after {
    left: 8.66px;
    top: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
}

@keyframes dotWindmill {
    0% {
        transform: rotateZ(0deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotateZ(720deg) translate3d(0, 0, 0);
    }
}
.loading-screen {
    display: inline-flex;
    column-gap: 1rem;
}

.divinator-fill-color{
    position: absolute;
    background-color: #c59d9d52;
    height: 100%;
    width: 0;
    right: 0;
    transition: 0.6s;
}

.bs-stepper-box.active{
    background-color: #7367F0 !important;
    color: #FFF !important;
    box-shadow: 0 3px 6px 0 rgb(115 103 240 / 40%);
}

/*=====================INPUT/BUTTON SETTINGS=====================*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button[type=submit]:disabled,
button[type=button]:disabled,
input[type=submit]:disabled {
    background-color: var(--submit-ds-color);
}

/*=====================Widget-login=====================*/
.widget-login {
    position: fixed;
    z-index: var(--z-index-fixed);
    display: flex;
    background: url(../img/background/bg002.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.widget-login__header {
    width: 95vw;
    height: 95vh;
    margin: auto;
    text-align: center;
    max-width: calc(100% - 16px);
    border-radius: 5px;
    box-shadow: 0 0 4px 1px #c6b5a6;
    overflow: hidden;
    background-color: var(--container-color);
}

.widget-login__content-left,
.widget-signin__content-right {
    flex-basis: 50%;
    background-color: var(--container-color);
}

.widget-login__background-img {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    transition: 0.8s;
    background-image: url(../img/background/bg003.jpg);
}

.widget-login__overlay {
    position: absolute;
    z-index: calc(var(--z-index-fixed) + 50);
    background-color: var(--overlay-color);
}

.widget-login__box-title {
    row-gap: 1rem;
    z-index: calc(var(--z-index-fixed) + 50);
}

.widget-login__title,
.widget-login__paragraph {
    font-weight: var(--font-semi-bold);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.widget-login__title {
    color: #fe7194;
}

.widget-login__description {
    margin: 0 2rem;
    font-size: var(--normal-font-size);
    margin-top: 1rem;
    transition: 0.4s;
}

.widget-login__logo-image,
.widget-login__logo-gif {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: var(--biggest-font-size);
}

.widget-login__logo-gif {
    width: 200px;
    height: 200px;
}

.widget-login__credit {
    position: absolute;
    left: 50%;
    top: 95%;
    bottom: 1rem;
    color: var(--text-color);
    font-size: var(--smaller-font-size);
    transform: translateX(-50%);
    z-index: calc(var(--z-index-fixed) + 50);
}

.widget-login__content-container,
.widget-signin__content-container {
    margin: 0 4rem;
}

.widget-signin__content-header{
    margin-bottom: 3rem;
    padding-top:1.5rem;
}

.widget-login__content-header,
.widget-signin__content-header,
.widget-option__reset-header,
.widget-option__content-header {
    row-gap: 0.5rem;
}

.widget-login__left-title,
.widget-login__title-input,
.widget-reset__title-input,
.widget-signin__right-title,
.widget-signin__title-input,
.widget-login__left-title-description {
    color: var(--black-color);
}

.widget-login__left-sub-title,
.widget-signin__right-sub-title {
    color: var(--gray-color);
}

.widget-login__left-title,
.widget-signin__right-title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}

.widget-login__left-sub-title,
.widget-login__title-input,
.widget-reset__title-input,
.widget-signin__title-input,
.widget-login__input,
.widget-option__reset-input,
.widget-signin__right-sub-title,
.widget-signin__input {
    font-size: var(--normal-font-size);
}

.widget-login__left-title-description {
    font-size: var(--normal-font-size);

}

.widget-login__title-input,
.widget-signin__title-input,
.widget-reset__title-input {
    margin-bottom: 0.5rem;
    text-align: left;
}

.widget-login__input,
.widget-signin__input,
.widget-option__reset-input {
    width: 100%;
    height: 38px;
    background-color: var(--container-color);
    border: 1px solid rgb(206 212 218);
    border-radius: 4px;
    line-height: 2rem;
    cursor: initial;
    transition: 0.4s;
    padding: 0px 10px 0px 8px;
    line-height: 22px;
}

.widget-login__input-field, .widget-signin__input-field {
    margin-bottom: 1rem;
    display:flex;
    flex-direction: column;
}

.widget-login__input:focus,
.widget-signin__input:focus {
    box-shadow: 0 0 0px 1.5px #a1b6c6;
}

.widget-login__options {
    justify-content: space-between;
    align-items: center;
    margin:1rem 0;
}

.widget-login__option-text {
    color: var(--black-color);
    transition: 0.4s;
    cursor: pointer;
}

.widget-login__option a.widget-login__option-text {
    color: var(--blue-color);
    font-weight: bold;
}

.widget-login__option a.widget-login__option-text:hover,
.widget-login__option .widget-login__separate {
    color: var(--yellow-color);
}

.widget-login__option[data="Forgot Password"]:hover .widget-login__separate {
    width: 100%;
}

.widget-login__separate {
    position: absolute;
    background-color: var(--black-bg-color);
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    transition: 0.4s;
}

.widget-login__input-submit,
.widget-login__logging-with {
    background-color: var(--organge-bg-color);
    color: var(--text-color);
    height: 40px;
    border-radius: 4px;
    font-size: var(--normal-font-size);
    transition: 0.5s;
}

.widget-login__input-submit:hover {
    opacity: 0.8;
}

.widget-login__input-field.logging-with,
.widget-signin__input-field.logging-with {
    border: 1px solid var(--black-bg-light-color);
    border-radius: 4px;
    opacity: 0.6;
    transition: 0.4s;
}

.widget-login__input-field.logging-with:hover,
.widget-signin__input-field:hover {
    opacity: 1;
}

.widget-login__logging-with {
    background-color: var(--container-color);
    color: var(--black-color);
}


.widget-login__switch {
    margin-top: 1rem;
    column-gap: 0.25rem;
}

.widget-login__switch-text,
.widget-option__switch-back {
    color: var(--gray-color);
}

a.widget-login__switch-text,
.widget-option__switch-back {
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
    transition: 0.4s;
    cursor: pointer;
}

.widget-login__switch-box:hover .widget-login__separate,
.widget-login__switch-box:hover a.widget-login__switch-text,
.widget-login__switch-box:hover a.widget-option__switch-back {
    width: 100%;
    color: rgb(134, 185, 245);
}

.widget-login__homepage {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    border: 1px solid var(--container-color);
    z-index: calc(var(--z-index-fixed) + 50);
    border-radius: 6px;
    transition: 0.6s;
    overflow: hidden;
    cursor: pointer;
}


.widget-login__homepage:hover .widget-login__fill-bg {
    height: 100%;
}

.widget-login__fill-bg {
    position: absolute;
    bottom: 0;
    background-color: var(--submit-ds-color);
    width: 100%;
    height: 0;
    border-radius: 6px;
    transition: 0.5s;
    z-index: calc(var(--z-index-fixed) + 50);
}

.widget-option__reset-switch {
    width: 100%;
    height: 45px;
    background-color: var(--black-bg-light-color);
    border-radius: 6px;
    transition: 0.4s;
    color: var(--text-color);
    font-size: var(--normal-font-size);
    margin-top: 1rem;
}

.widget-option__reset-switch:hover {
    opacity: 0.7;
}

.widget-option__reset-form,
.widget-option__content-header,
.widget-option__message-notify {
    transition: 0.7s;
}

.widget-option__message-notify {
    transform: translateX(200%);
}

.widget-signin__status {
    position: absolute;
    /*    top: 0;*/
    top: -200%;
    left: 0%;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-color);
    display: flex;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.widget-signin__status-message {
    color: var(--text-color);
    background-color: var(--black-bg-color);
    padding: 1rem;
    margin: auto;
    border-radius: 8px;
    max-width: calc(100% - 16px);
}

.widget-signin__status-reg{
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.5rem;
}

.widget-signin__status-reg.success{
    color:var(--green-color);
}

.widget-signin__status-reg.failed{
    color: var(--red-color);
}

.widget-button__action{
    margin: 1rem 0;
}

.widget-signin__status-loading {
    position: absolute;
    bottom: calc(0% + 3rem);
    width: 100%;
    display:none;
}

img.widget-signin__status-loading-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -21rem;
}

img.widget-signin__status-loading-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.widget-login__message-notify{
    margin-top: 0.5rem;
    margin-bottom: -1rem;
    padding: 0.75rem;
    border:1px solid var(--red-color);
    transition: 0.6s;
    transform:scale(0);
}

.widget-login__message-description{
    color: var(--red-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    line-height: 1.25rem;
}

.widget-login__form {
    margin-top: -4rem;
    transition: 0.6s
}

.widget-login__process-loading, .widget-signin__process-loading{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    display:none;
}

.widget-login__with-seperate{
    margin: 1rem 0;
    color: var(--black-color);
    font-size: var(--Italina);
    position: relative;
}

.widget-login__with-seperate::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 1px;
    background-color: var(--black-bg-color);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.widget-login__with-seperate::after{
    content: "";
    position: absolute;
    width: 180px;
    height: 1px;
    background-color: var(--black-bg-color);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.widget-login__input-show{
    padding: 0 0.9375rem 0 0.75rem;
    position: absolute;
    right: 0;
    height: 100%;
    background: transparent;
    top: 50%;
    transform: translateY(-50%);
}

.widget-login__checkbox{
    width: 1.285rem;
    height: 1.285rem;
    margin-top: 0.0825rem;
    vertical-align: top;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid #D8D6DE;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

/*=====================verify-page=====================*/
.verify-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-index-fixed);
    display: flex;
    background-image: url(../img/gif/Mountain.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.verify-page__message {
    color: var(--black-color);
    font-size: var(--h3-font-size);
    line-height: 2rem;
}

.verify-page__content {
    margin: auto;
    text-align: center;
    background-color: #c3b1b159;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 5px 7px 3px 2px var(--bronie-color);
    transition: 0.5s;
}

.verify-page__content[modifier="yes"]{
    text-align: left;
    background-color: #2923235e;
    box-shadow: unset;
}

.verify-page__introduced{
    font-family: var(--Italina);
    font-size: var(--biggest-font-size);
    font-weight: var(--font-none-bold);
    letter-spacing: 0.5rem;
}

.verify-page__content:hover {
    box-shadow: 0px -2px 6px 5px var(--bronie-color);
}

img.verify-page__image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--gray-color);
}

.verify-page__action.induct-page__btn[type="wb"] {
    width: 100%;
    margin-top: 1rem;
}

.verify-page__image-logo{
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.verify-page__credit{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: unset !important;
}

.verify-page__credit .footer-page__credit-text{
    color:var(--text-color);
}

/*=====================changed-page=====================*/
.changed-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-index-fixed);
    display: flex;
    background-image: url(../img/gif/Autumn\ -\ Countryside.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.changed-page__message[mode="success"]{
    color: var(--text-color);
    font-size: var(--h3-font-size);
    line-height: 2rem;
    display: none;
    transform: translateX(-200%);
    transition: 0.6s;
}

.changed-page__content {
    margin: auto;
    text-align: center;
    background-color: #c3b1b1fa;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 5px 7px 3px 2px var(--bronie-color);
    transition: 0.5s;
    overflow: hidden;
}

.changed-page__content[type="first-child"]{
    width: 605px;
    max-width: 605px;
}

.changed-page__content[modifier="yes"] {
    text-align: left;
    background-color: #2923235e;
    box-shadow: unset;
}

.changed-page__introduced {
    font-family: var(--Italina);
    font-size: var(--biggest-font-size);
    font-weight: var(--font-none-bold);
    letter-spacing: 0.5rem;
}

.changed-page__content:hover {
    box-shadow: 0px -2px 6px 5px var(--bronie-color);
}

img.changed-page__image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--gray-color);
}

.changed-page__action.induct-page__btn[type="wb"] {
    width: 100%;
    margin-top: 1rem;
    transition: 0.6s;
}

.changed-page__image-logo {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.changed-page__credit {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: unset !important;
}

.changed-page__credit .footer-page__credit-text {
    color: var(--text-color);
}

.changed-page__logo-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.changed-page__title {
    font-size: var(--biggest-font-size);
    font-family: var(--Italina);
    font-weight: var(--font-none-bold);
    transition: 0.6s;
}

.changed-page__input-field {
    margin-top: 1rem;
    transition: 0.6s;
}

.changed-page__input-field:hover {
    opacity: 1;
}

.changed-page__input {
    width: 100%;
    height: 40px;
    background-color: var(--container-color);
    border: 1px solid rgb(206 212 218);
    border-radius: 4px;
    line-height: 2rem;
    cursor: initial;
    transition: 0.4s;
    padding: 0px 10px 0px 8px;
    line-height: 22px;
}

.changed-page__input:focus {
    box-shadow: 0 0 6px 3px #4984ba;
}

.changed-page__title-input {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    text-align: left;
    margin-bottom: 1rem;
}

.changed-page__action-link[type="disabled"] {
    cursor: not-allowed;
}
.changed-page__action-link[type="unlock"] {
    cursor: pointer;
}

.changed-page__icon-loading{
    display:none;
}
/*=====================Homepage-Customer=====================*/
/*=====================home-page=====================*/
.home-page {
    background-image: url(../img/slider/slider01.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    max-height: 750px;
}

.home-page__header-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    border-bottom: 1px solid var(--white-opacity-light);
    background-color: var(--black-opacity-light);
    box-shadow: 1px 4px 9px 0px rgb(55 46 46);
    transition: 0.6s;
    /* background-color: var(--black-bg-light-color); */
    z-index: var(--z-index-fixed);
}

.home-page__navbar-name[type="roleStarted"]::before,
.home-page__navbar-name[type="roleStarted"]::after {
    content: "";
    border: 2px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
}

.home-page__navbar-name[type="roleStarted"]::before {
    top: 0;
    left: 0;
}

.home-page__navbar-name[type="roleStarted"]::after {
    bottom: 0;
    left: 0;
}

.home-page__navbar-name[type="roleStarted"]:hover::before {
    width: 100%;
    height: 100%;
    border-top-color: var(--container-color);
    border-right-color: var(--container-color);
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.home-page__navbar-name[type="roleStarted"]:hover::after {
    width: 100%;
    height: 100%;
    border-bottom-color: var(--container-color);
    border-left-color: var(--container-color);
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.home-page__navbar-item[role="getStarted"] .home-page__navbar-name {
    border: 1px solid var(--container-color);
    border-radius: 8px;
    background-color: transparent;
    transition: 0.4s;
}

.home-page__navbar-item[role="getStarted"]:hover .home-page__navbar-name {
    background-color: var(--container-color);
    color: var(--blue-heavy-color);
}

.home-page__navbar-item .home-page__navbar-name {
    color: var(--text-color);
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    transition: all 0.25s;
    vertical-align: middle;
    position: relative;
}

.home-page__navbar-seperate {
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    width: 1px;
    height: 0px;
    background-color: var(--container-color);
    transform: rotate(180deg) translateX(-50%);
    transform-origin: top;
    transition: 0.4s;
}

.home-page__navbar-item:hover .home-page__navbar-seperate {
    height: 18px;
}

.home-page__navbar-main-title {
    font-size: var(--h1-font-size);
    font-family: var(--regular-logo-font);
    position: absolute;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translateX(-50%);
    letter-spacing: 1rem;
}

.home-page__introduce {
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 45%);
    bottom: 50%;
}

.home-page__introduce-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.home-page__introduce-header {
    font-size: 6rem;
    letter-spacing: 1rem;
    font-family: var(--Italina);
    font-weight: var(--font-none-bold);
    margin: 1rem 0;
}

.home-page__introduce-sub-title {
    font-size: var(--h2-font-size);
    letter-spacing: 0.1rem;
    line-height: 2rem;
    font-family: var(--Italina);
}

.home-page__introduce-action {
    margin-top: 4rem;
    column-gap: 4rem;
}

.home-page__introduce-option {
    border: 1px solid var(--container-color);
    overflow: hidden;
}

.home-page__introduce-option[type="wb"] {
    background-color: var(--container-color);
    border: unset;
}

.home-page__introduce-option .home-page__introduce-link {
    font-weight: var(--font-semi-bold);
    font-size: var(--smaller-font-size);
    padding: 12px 36px;
    z-index: var(--z-index-default);
    transition: 0.4s;
    transition-delay: 0.2s;
    display: block;
}

.home-page__introduce-option[type="wb"] .home-page__introduce-link {
    color: #051356;
}

.home-page__introduce-option .home-page__introduce-seperate {
    position: absolute;
    top: 0;
    right: calc(100% + 25px);
    width: 150%;
    padding-top: 150%;
    -webkit-transform: rotate(-45deg) translate(0, 0);
    -ms-transform: rotate(-45deg) translate(0, 0);
    transform: rotate(-45deg) translate(0, 0);
    -webkit-transition: all .55s cubic-bezier(.69, .26, .28, .95);
    -o-transition: all .55s cubic-bezier(.69, .26, .28, .95);
    transition: all .55s cubic-bezier(.69, .26, .28, .95);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    background-color: var(--container-color);
}

.home-page__introduce-option[type="wb"] .home-page__introduce-seperate {
    background-color: var(--blue-heavy-color);
}

.home-page__introduce-option:hover .home-page__introduce-seperate {
    -webkit-transform: rotate(-45deg) translate(80%, 0);
    -ms-transform: rotate(-45deg) translate(80%, 0);
    transform: rotate(-45deg) translate(80%, 0);
}

.home-page__introduce-option:hover .home-page__introduce-link {
    color: var(--blue-heavy-color);
}

.home-page__introduce-option[type="wb"]:hover .home-page__introduce-link {
    color: var(--text-color);
}

.home-page__navbar-item[role="userLogin"]{
    display: flex;
    align-items: center;
    max-height: 34px;
    column-gap: 0rem;
}

.home-page__user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.home-page__user-alt{
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    transition: 0.4s;
}

.home-page__user-navbar{
    position: absolute;
    top: calc(100% + 25px);
    background-color: var(--container-color);
    width: 15rem;
    right: 0rem;
    border-radius: 6px;
    /*    box-shadow: 0px 0px 4px 1px var(--black-bg-color);*/
    transition: 0.6s;
    height:0rem;
    overflow: hidden;
    /*    height:16rem;*/
}

.home-page__user-navbar-option{
    font-size: var(--normal-font-size);
    color: var(--black-color);
}

.home-page__user-navbar-icon{
    width: 30px;
    height: 30px;
}

.home-page__user-navbar-item{
    padding:1rem;
    z-index: var(--z-index-default);
}

.home-page__user-navbar-item:hover .divinator-fill-color{
    width: 100%;
}

/*=====================induct-page=====================*/
.induct-page__main {
    column-gap: 5rem;
}

.induct-page__slider-image,
.content-page__list-image {
    border-radius: 8px;
    box-shadow: 0px 0px 2px 2px #8e8686;
    object-fit: cover;
    height: 600px;
}

.induct-page__title,
.induct-page__descripton,
.induct-page__summary,
.perfome-page__details-title,
.perfome-page__details-description,
.rent-page__details-description,
.rent-page__details-tiny,
.sell-page__details-description,
.sell-page__details-tiny {
    margin-bottom: 2rem;
}

.induct-page__title,
.content-page__title,
.Feedback-page__title,
.join-page__title,
.perfome-page__details-title,
.rent-page__details-title,
.rent-page-title,
.sell-page__details-title,
.sell-page-title{
    color: var(--blue-heavy-color);
    font-size: var(--biggest-font-size);
}

.induct-page__descripton,
.content-page__sub-title,
.join-page__title,
.perfome-page__details-description,
.rent-page__details-description,
.sell-page__details-description{
    color: var(--gray-light-color);
    font-size: var(--h2-font-size);
}

.induct-page__summary,
.content-page__details-sub-title,
.join-page__description,
.perfome-page__details-summary,
.rent-page__details-summary,
.sell-page__details-summary{
    color: var(--gray-tiny-color);
    font-size: var(--normal-font-size);
    line-height: 2rem;
}

.induct-page__btn[type="wb"] {
    border: 1px solid #051356;
    width: 215px;
    height: 45px;
}

.induct-page__btn[type="wb"] .home-page__introduce-link {
    text-align: center;
}

.induct-page__profit-item-title {
    color: var(--black-light-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

.induct-page__profit-item-description {
    color: var(--gray-light-color);
    font-size: var(--normal-font-size);
}

.induct-page__profit-item {
    margin: 1rem 0;
}

/*=====================content-page=====================*/
.content-page__box-title,
.Feedback-page__box-title {
    margin-bottom: 5rem;
}

.content-page__title,
.Feedback-page__title {
    padding-right: 2rem;
}

.content-page__list {
    column-gap: 2rem;
}

.content-page__details-title {
    color: var(--blue-heavy-color);
    font-size: var(--h1-font-size);
}

.content-page__list-image,
.contact-page__btn-action {
    margin: 1rem 0;
}

/*=====================perfome-page=====================*/
.perfome-page__content {
    column-gap: 1.5rem;
}

.perfome-page__profit {
    margin-top: 2.75rem;
    column-gap: 1rem;
}

.perfome-page__profit-item img[type="perfome-profit-icon"],
.induct-page__profit-item img[type="perfome-profit-icon"] {
    width: 60px;
    height: 60px;
}

.perfome-page__profit-text {
    font-size: var(--normal-font-size);
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
}

/*=====================rent-page=====================*/
section.rent-page[mode="slider-content"]{
    border-bottom: 1px solid var(--gray-bny-color);
    padding: 85px 0 15px;
}
.rent-page__main-title-box{
    text-align: center;
}

.rent-page__content{
    margin-top: 2rem;
}

.rent-page__main-title-box .rent-page__details-summary{
    padding: 0 12rem;
}

.rent-page__details-tiny{
    font: normal 300 12px;
    color: var(--gray-color);
    text-transform: uppercase;
    font-family: var(--Caudex);
}

.rent-page__details-highlight-price{
    font-size: 2.5rem;
    margin: 0 10px 0 20px;
    color: #e63619;
    font-weight: var(--font-semi-bold);
}

.rent-page__details-title{
    color:var(--black-color);
    font-size: 2.5rem;
}

.rent-page__illstrutation-img{
    border-radius: 8px;
}

.rent-page__details-summary{
    padding-right: 2rem;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
        display: -webkit-box;
    overflow: hidden;
}

.rent-page__performance-image{
    width: 16px;
    height: 16px;
}

.rent-page__performance-title{
    color:var(--gray-tiny-color);
}

.rent-page__performance-description{
    color:var(--gray-color);
}

.rent-page__performance-title, .rent-page__performance-description{
    font-size: var(--normal-font-size);
}

.rent-page__performance-item{
    margin: 1rem 0;
}

.rent-page__wrapper{
    height: 35rem !important;
    --active-item-width:1300px !important;
    --spacing:10px !important;
}

.rent-page__item{
    padding: 1.5rem;
    width: 1300px;
    max-width: 1300px;
}

.rent-page__controller{
    margin: 2rem 0 1rem;
}

.rent-page__controller-number{
    font-size: var(--h2-font-size);
    color:var(--black-bg-color);
    font-weight: var(--font-semi-bold);
}

.rent-page__controller-arrow-img, .rent-page__controller-arrow{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: var(--black-bg-light-color);
    transition: 0.5s;
}

.rent-page__controller-arrow-img:hover{
    background-color:#cab7b7c9;
}

.rent-page__controller-arrow-img[type="leftArrow"]{
    transform: rotate(180deg);
}

/*=====================sell-page=====================*/
section.sell-page[mode="slider-content"]{
    border-bottom: 1px solid var(--gray-bny-color);
    padding: 85px 0 15px;
}
.sell-page__main-title-box{
    text-align: center;
}

.sell-page__content{
    margin-top: 2rem;
}

.sell-page__main-title-box .sell-page__details-summary{
    padding: 0 12rem;
}

.sell-page__details-tiny{
    font: normal 300 12px;
    color: var(--gray-color);
    text-transform: uppercase;
    font-family: var(--Caudex);
}

.sell-page__details-highlight-price{
    font-size: 2.5rem;
    margin: 0 10px 0 20px;
    color: #e63619;
    font-weight: var(--font-semi-bold);
}

.sell-page__details-title{
    color:var(--black-color);
    font-size: 2.5rem;
}

.sell-page__illstrutation-img{
    border-radius: 8px;
}

.sell-page__details-summary{
    padding-right: 2rem;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    overflow: hidden;
}

.sell-page__performance-image{
    width: 16px;
    height: 16px;
}

.sell-page__performance-title{
    color:var(--gray-tiny-color);
}

.sell-page__performance-description{
    color:var(--gray-color);
}

.sell-page__performance-title, .sell-page__performance-description{
    font-size: var(--normal-font-size);
}

.sell-page__performance-item{
    margin: 1rem 0;
}

.sell-page__wrapper{
    height: 35rem !important;
    --active-item-width:1300px !important;
    --spacing:10px !important;
}

.sell-page__item{
    padding: 1.5rem;
    width: 1300px;
    max-width: 1300px;
}

.sell-page__controller{
    margin: 2rem 0 1rem;
}

.sell-page__controller-number{
    font-size: var(--h2-font-size);
    color:var(--black-bg-color);
    font-weight: var(--font-semi-bold);
}

.sell-page__controller-arrow-img, .sell-page__controller-arrow{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: var(--black-bg-light-color);
    transition: 0.5s;
}

.sell-page__controller-arrow-img:hover{
    background-color:#cab7b7c9;
}

.sell-page__controller-arrow-img[type="leftArrow"]{
    transform: rotate(180deg);
}

/*=====================Feedback-page=====================*/
.Feedback-page__control {
    transition: 0.4s;
}

.Feedback-page__control:hover {
    opacity: 0.6;
}

.Feedback-page__wrapper, .rent-page__wrapper, .sell-page__wrapper {
    --item-width: 244px;
    --active-item-width: 715px;
    --spacing: 32px;
    height: 285px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.Feedback-page__list, .rent-page__list, .sell-page__list {
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(calc(var(--slide-to-index)*-1*(var(--active-item-width) + var(--spacing)*var(--per-page) + var(--item-width)*(var(--per-page) - 1))));
    transform: translateX(calc(var(--slide-to-index)*-1*(var(--active-item-width) + var(--spacing)*var(--per-page) + var(--item-width)*(var(--per-page) - 1))));
    transition: .5s;
}

img.control-img {
    width: 50px;
    height: 50px;
}

img.control-img[type="leftControl"] {
    transform: rotate(0deg);
}

img.control-img[type="rightControl"] {
    transform: rotate(180deg);
}

.Feedback-page__item {
    background-color: #fff6f1;
    border: 1px solid #c7a6a6;
    border-radius: 12px;
    padding: 1.5rem;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Feedback-page__user-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--bs-body-color);
}

.Feedback-page__comment {
    font-size: var(--normal-font-size);
    color: var(--gray-light-color);
    line-height: 1.5rem;
    margin-bottom: 1.75rem;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    display: -webkit-box;
    overflow: hidden;
}

.Feedback-page__user {
    align-items: center;
    column-gap: 0.5rem;
}

.Feedback-page__user-details {
    line-height: 1.5rem;
}

.Feedback-page__user-display-name,
.Feedback-page__user-display-role {
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: var(--black-color);
    display: -webkit-box;
    line-height: 20px;
    overflow: hidden;
}

.Feedback-page__list .ratings-list-item svg{
    font-size: 1.286rem !important;
    height: 1.286rem !important;
    width: 1.286rem !important;
}

.Feedback-page-rating-star{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.Feedback-page__option-list{
    justify-content: center;
    margin-top: 1rem;
}

.avatar-fixed-up{
    font-size: 2rem !important;
    align-items: center !important;
    width: 100% !important;
    height: 100% !important;
}

/*=====================brands-page=====================*/
.brands-page__item {
    width: 20%;
    text-align: center;
}

.brands-page__img[type="resize"] {
    width: 160px;
    height: 160px;
}

/*=====================join-page=====================*/
.join-page__content {
    background: url(../img/background/bg006.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 4px 0px var(--black-bg-light-color);
    text-align: center;
    height: 34.4rem;
}

.join-page__box-title {
    background-color: #615757a1;
    border-radius: 8px;
}

.join-page__title {
    color: #d5d8e8;
}

.join-page__description {
    color: #fff1f1;
    padding: 0 12rem;
}

.join-page__title,
.join-page__description,
.join-page__btn-action {
    margin: 2rem 0;
}

.join-page__btn-action {
    left: 50%;
    transform: translateX(-50%);
}

/*=====================footer-page=====================*/
.footer-page__logo-image {
    width: 80px;
    height: 80px;
    border-radius: 25%;
}

.footer-page__logo-text {
    font-size: var(--h1-font-size);
    font-family: var(--Caudex);
    text-transform: uppercase;
}

.footer-page__seperate {
    height: 1px;
    background-color: white;
    flex: 1;
    margin-left: 2rem;
}

.footer-page__superivors {
    margin: 3rem 0 2rem;
    column-gap: 1.5rem;
}

.footer-page__contacts-item,
.footer-page__details {
    margin: 1rem 0;
}

.footer-page__contacts-icon {
    width: 20px;
    height: 20px;
    color: var(--red-color);
    font-size: var(--biggest-font-size);
    line-height: 1;
}

.footer-page__contacts-icon[type="arrow"] {
    background-color: var(--black-bg-light-color);
    transition: 0.4s;
}

.footer-page__contacts-item:hover .footer-page__contacts-icon[type="arrow"] {
    background-color: var(--red-color);
}

.footer-page__about-company-name,
.footer-page__dealer-title {
    font-weight: var(--font-semi-bold);
    font-size: var(--h3-font-size);
    color: var(--bronie-light-color);
}

.footer-page__details-item {
    font-size: var(--normal-font-size);
    margin: 0.5rem 0;
}

.footer-page__details-title {
    font-weight: var(--font-semi-bold);
}

.footer-page__details-item {
    color: var(--gray-color);
}

.footer-page__contacts-support {
    background: var(--black-light-color);
    align-items: flex-start;
    justify-content: flex-start;
    padding: 25px;
    border-radius: 3px;
    transition: 0.5s;
    column-gap: 2rem;
}

.footer-page__contacts-desc-title {
    color: rgba(255, 255, 255, 0.7);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-none-bold);
}

.footer-page__contacts-phone {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

.footer-page__credit {
    padding: 54px 0 44px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-page__credit-text {
    text-align: center;
    color: var(--gray-tiny-color);
}