/*=====================MODIFIER BOOTSTRAP=====================*/
.header-navbar .navbar-container .dropdown-menu-media {
    width: 38rem;
}

.header-navbar .navbar-container ul.navbar-nav li.dropdown-cart .media-heading {
    width: 12rem;
}
/*=====================SETTINGS DEFAULT=====================*/
.width-full {
    width: 100%;
}

.height-full {
    height: 100%;
}

.flex-default {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

A .flex-center {
    align-items: center;
    justify-content: center;
}

.flex-center-align {
    align-items: center;
}


.flex-space-center {
    align-items: center;
    justify-content: space-between;
}

.column-gap-default {
    column-gap: 1rem;
}

.row-gap-default {
    row-gap: 1rem;
}

.grid-default {
    display: grid;
}

.grid-one-column-center {
    grid-template-columns: repeat(1, 1fr);
}

.grid-two-column-center {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-column-center {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-column-center {
    grid-template-columns: repeat(4, 1fr);
}

.grid-five-column-center {
    grid-template-columns: repeat(5, 1fr);
}

.position-relative {
    position: relative;
}

.overlay-fixed-settings {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cursor-select-none {
    cursor: default;
}

.cursor-select-pointer {
    cursor: pointer;
}

.cursor-select-not-allowed {
    cursor: not-allowed;
}

/*=====================LIDGET-LOGIN-DEFAULT=====================*/
.lidget-login__logo {
    width: 70px;
    height: 70px;
    left: 20px;
}

.lidget-login__background {
    background-image: url(../img/login_theme.gif);
}

.lidget-dashboard-analytics {
    border-bottom: unset !important;
    background: unset !important;
    box-shadow: unset !important;
}

.lidget-app__padding-left {
    padding-left: 0rem !important;
}

.lidget-ecomerce__dialog {
    width: 100% !important;
}

.lidget-modal__role {
    max-width: 1200px !important;
}

.lidget-column-hidden, .lidget-column-hidden-2, .lidget-column-hidden-3, .lidget-column-hidden-4, .lidget-column-hidden-5 {
    display: revert !important;
}

.lidget-column-hidden-5-lite{
    display:inline-block !important;
}

.lidget-column-show, .lidget-column-show-2, .lidget-column-show-3, .lidget-column-show-4 {
    display: none !important;
}

.lidget-login__error{
    transition: 0.6s;
    text-align: center;
    transform: scale(0);
}

.lidget-login__transition{
    transition: 0.6s;
    margin-top: -6rem;
}

/*=====================MEDIA-SCREEN-DEFAULT=====================*/
@media (max-width:1020px) {
    .lidget-column-show {
        display: revert !important;
    }

    .lidget-column-hidden {
        display: none !important;
    }
    @media (max-width:880px) {
        .lidget-column-hidden-2 {
            display: none !important;
        }
    }
    @media (max-width:770px) {
        .lidget-column-hidden-3 {
            display: none !important;
        }
    }
    @media (max-width:625px) {
        .lidget-column-hidden-4 {
            display: none !important;
        }
    }
    @media (max-width:580px) {
        .lidget-column-hidden-5, .lidget-column-hidden-5-lite {
            display: none !important;
        }
    }
}

.auth-login-switch{
    display:flex;
    justify-content: center;
}

.lidget-position-control {
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    right: 1rem;
}

.lidget-card-ecomerce{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 8px;
    background-color: #3b449a;
    box-shadow: 3px 3px 10px 3px #9dadab;
    color: white;
    border-bottom-left-radius: 18px;
}

.lidget-card-ecomerce.checkout{
    right: unset;
    left: 0;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: 18px;
}

.lidget-quantity-handle .input-group-btn .btn.btn-primary.bootstrap-touchspin-up,
.lidget-quantity-handle .input-group-btn .btn.btn-primary.bootstrap-touchspin-down{
    padding: 0.5rem;
}

/*=====================Feedback-page=====================*/
.Feedback-page__control {
    transition: 0.4s;
}

.Feedback-page__control:hover {
    opacity: 0.6;
}

.Feedback-page__wrapper, .rent-page__wrapper {
    --item-width: 248px;
    --active-item-width: 715px;
    --spacing: 32px;
    height: 285px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.Feedback-page__list, .rent-page__list {
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(calc(var(--slide-to-index)*-1*(var(--active-item-width) + var(--spacing)*var(--per-page) + var(--item-width)*(var(--per-page) - 1))));
    transform: translateX(calc(var(--slide-to-index)*-1*(var(--active-item-width) + var(--spacing)*var(--per-page) + var(--item-width)*(var(--per-page) - 1))));
    transition: .5s;
}

img.control-img {
    width: 50px;
    height: 50px;
}

img.control-img[type="leftControl"] {
    transform: rotate(0deg);
}

img.control-img[type="rightControl"] {
    transform: rotate(180deg);
}

.Feedback-page__item {
    background-color: #fff6f1;
    border-radius: 12px;
    padding: 1.5rem;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Feedback-page__user-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--bs-body-color);
}

.Feedback-page__comment {
    font-size: var(--normal-font-size);
    color: var(--gray-light-color);
    line-height: 1.5rem;
    margin-bottom: 1.75rem;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    display: -webkit-box;
    overflow: hidden;
}

.Feedback-page__user {
    align-items: center;
    column-gap: 0.5rem;
}

.Feedback-page__user-details {
    line-height: 1.5rem;
}

.Feedback-page__user-display-name,
.Feedback-page__user-display-role {
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: var(--black-color);
    display: -webkit-box;
    line-height: 20px;
    overflow: hidden;
}

.Feedback-page__list .ratings-list-item svg{
    font-size: 1.286rem !important;
    height: 1.286rem !important;
    width: 1.286rem !important;
}

.Feedback-page-rating-star{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.Feedback-page__option-list{
    justify-content: center;
    margin-top: 1rem;
}

.avatar-fixed-up{
    font-size: 2rem !important;
    align-items: center !important;
    width: 100% !important;
    height: 100% !important;
}