body{
    padding: 15px;
    background-color: #f6f6f7;
}
p{
    margin-bottom: 0;
}
.news-title{
    margin-bottom: 22px;
}
.news-title input, .news-tag input{
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    width: 100%;
}
.news-tag input{
    border: none;
}
.news-tag__search-wrapper {
    border: 1px solid #dcdfe6;
}
.news-title input:focus, .news-tag__search-wrapper:has(input:focus){
    border-color: #409eff;
}
.news-tag {
    margin-bottom: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.news-tag__search-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    background-color: #fff;
}
.news-tag button, .news-tag label {
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    text-align: center;
    outline: none;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    line-height: 1;
    border-radius: 4px;
}
.news-tag__search-result {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 42px;
}
.search-result__loading {
    min-height: 140px;
    margin: 5px 0;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    border-radius: 4px;
    border: 1px solid #e4e7ed;
    background-color: #fff;
    text-align: center;
}
.lds-dual-ring {
    display: inline-block;
    width: 50px;
    height: 50px;
    transform: translateY(78%);
}
.lds-dual-ring::after {
    content: " ";
    display: block;
    width: 34px;
    height: 34px;
    margin: 8px;
    border-radius: 50%;
    border: 4px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
.search-result__list {
    padding: 10px 0;
    margin: 5px 0;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    border-radius: 4px;
    border: 1px solid #e4e7ed;
    background-color: #fff;
    width: 100%;
}
.search-result__item {
    padding: 0 20px;
    margin: 0;
    line-height: 34px;
    cursor: pointer;
    color: #606266;
    font-size: 14px;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search-result__item:hover{
    background-color: #f5f7fa;
}
.ck-editor__editable {
    height: 79vh;
}
.news-content {
    display: flex;
    gap: 10px;
    position: relative;
}
.preview-editor {
    border: 1px solid #ccc;
    padding: 50px 10px 0 10px;
    width: 50%;
}
.ck.ck-reset.ck-rounded-corners {
    flex-grow: 1;
}
textarea {
    white-space: pre-line;
}
.editor-placeholder {
    position: absolute;
    left: 10px;
    top: 55px;
    color: #989898;
    font-weight: 300;
}
.tag-attach__wrapper {
    display: flex;
}
.tag-attach {
    background-color: rgb(244, 244, 245);
    color: rgb(144, 147, 153);
    border-color: rgb(233, 233, 235);
    margin: 5px 0 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 9px;
}
.tag-attach i{
    cursor: pointer;
}
.tag-attach span {
    white-space: nowrap;
}
.image-wrapper {
    position: relative;
}
.image-detail__wrappper  {
    position: absolute;
    width: 400px;
    transform-origin: center top;
    z-index: 99;
    top: 54px;
    right: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(235, 238, 245);
    padding: 12px;
}
.image-detail__view {
    /* background-image: url(../img/anh.jpg); */
    width: 100%;
    height: 150px;
    background-size: cover;
    overflow: hidden;
    background-position: 50% center;
    background-repeat: no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #606266;
}
.image-detail__action {
    display: flex;
    justify-content: space-between;
}
p.no-tag-found {
    text-align: center;
    padding: 20px;
}